/* header-UP */
#header-UP{
    width: 100%;
    height: 100px;
    background-color: #ddd;
}

.title-color{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}