/* post-content-suround */

.post-content-suround {
    height: auto;
    width: 1000px;
}

.post-content {
    list-style: none;
    margin: 0 20px 50px;
    padding: 0;
}

.post-content>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-content>li>span {
    font-size: 35px;
    color: gray;
    margin: 20px 0px 50px;
}


.post-content a {
    text-decoration: none;
    color: black;
    margin: 20px 0;

}

/* post-suround */
.post-suround {
    width: 960px;
    height: 165px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.post-suround:hover {
    border: 1px solid black;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.315);
    transition-duration: 0.5s;
}

.title-div {
    width: 920px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* title */
.title {
    font-size: 20px;
    font-weight: bold;
}

.date {
    font-size: 14px;
    font-weight: 300;
}

.content-div {
    width: 920px;
    height: 55px;
    overflow: hidden;
}

/* 계정, 카테고리 영역 */
.account-div {
    margin-top: 10px;
    height: 35px;
    width: 930px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.account-img {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* 프로필 사진 */
.account-img > img{
    max-width: 40px;
    max-height: 40px;
}

/* .account-img:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
    transition-duration: 0.3s;
} */

.account-name {
    font-weight: 600;
}

.account-div-name {

    display: flex;
    align-items: center;
}

 /* 계정, 카테고리 */
 .account-div-category{
    color: gray;
}

/* 수정 삭제 버튼 영역 */

.account-div-up-del{
    margin-top: 20px;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.account-div-up-del > div:hover{
    transform: scale(1.1);
}

.account-div-up-del > div:active{
    transform: scale(0.9);
}

/* 수정 삭제 버튼 */
.accountUpdate{
    border: 0;
    border-radius: 5px;
    background-color: black;
    
    padding: 5px;
    transition-duration: 0.3s;
}

.accountUpdate > a{
    color: white;
}

.accountDelete{
    border: 0;
    border-radius: 5px;
    background-color: rgb(209, 27, 27);
    
    padding: 5px;
    margin-left: 30px;
    transition-duration: 0.3s;
}

.accountDelete > a{
    color: white;
}