 /* main-hot-post */
 .main-hot-post {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.500);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.200);
    border-radius: 15px;
}

.main-hot-post a {
    text-decoration: none;
    color: black;
}

/* main-hot-post 제목 */
.main-hot-title {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.411),
                 -2px -2px 2px rgba(255, 255, 0, 0.459);
}

/* main-hot-post-tab */
.main-hot-post-tab{
    display: flex;
    list-style: none;
    font-size: 20px;
    
}

.main-hot-post-tab > li{
    margin-right: 10px;
    cursor: pointer;
}

.main-hot-post-tab > li:hover{
    font-weight: bold;
    border-bottom: 2px solid black;
}

/* hot-post-suround-content */
.hot-post-suround-content {
    margin: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}

.hot-left,
.hot-right {
    font-size: 40px;
    cursor: pointer;
}

.hot-right {
    margin-left: 10px;
}

.hot-left {
    margin-right: 15px;
}

/* kindSlider */
.kindWrap {
    width: 880px;
    height: 400px;
    overflow: hidden;
}

.kindSlider {
    width: 1760px;
    display: flex;
    transition-duration: 0.5s;
}

.slider-hot {
    width: 880px;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.hot-post-gather {

    width: 280px;
    height: 360px;
    display: flex;


}

/* hot-post */
.hot-post-content {
    margin-left: 10px;
}

.hot-post-gather a {
    text-decoration: none;
    color: black;
}

.hot-post-suround {
    width: 270px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 15px;
    margin: 0;
}

.hot-post-suround:hover {
    border: 1px solid black;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.315);
    transition-duration: 0.5s;
}

.type-hot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
}

.type-hot > img {
    max-width: 90%;
    max-height: 90%;
}

.content-title-hot {
    flex-basis: 26%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title-hot-div {

    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.content-hot-div {
    width: 210px;
    height: 35px;
    margin: 0;
    font-size: 13px;
    overflow: hidden;
}

.content-hot-div>p {
    margin: 0;
}

.account-hot-div {
    width: 210px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.account-hot-img {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

/* .account-hot-img:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
    transition-duration: 0.3s;
} */

.account-hot-name {
    font-weight: 600;
}

/* tabMenu 필요 클래스 */
.hot-tab-item.main-hot-tab-active{
    font-weight: bold;
    border-bottom: 2px solid black;
}

.hot-post-suround-content.main-hot-tab-active{
    display: flex;
}