
/* footer */
footer{
    margin-top: 50px;
    width: 100%;

    /* ********************************************** */
    /* 세희님!!! 밑에 채워지도록 */
    /* height -> min-height로 바꾸시는것 어떤지요~!!ㅎㅎ */
    min-height: 200px;
    /* ********************************************** */

    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-1{
    font-weight: bold;
}

.footer-1 > span{
    margin:0px 2px;
}

.footer-2{
    
    margin: 10px;
    padding: 0;
    border: 0;
}
.footer-2 div{
    text-align:center;
}

.footer-2 span:nth-of-type(2){
    font-size: 12px;
}

.footer-2 > a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* footer추가 */
.footer-3,.footer-4,.footer-5,.footer-6{
    border:none;
    height: 100px;
}
.footer-3{
    display: flex;
}


.footer-3 li{
    text-align:center;
    visibility: hidden;
}


.footer-3 ul:hover li{
    visibility: visible;
    transform: scale(2) translateY(-40vh);
    transition-duration: 1s;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0 ,0.3);
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}






.footer-3 span:nth-of-type(2), .footer-4 span:nth-of-type(2){
    font-size: 12px;
}

.footer-3 span:nth-of-type(3){
    font-size: 10px;
}