
*{box-sizing: border-box;}


.content{
height: 800px;
display: flex;
justify-content: space-evenly;
align-items: center;

}

.arbite{
height: 465px;
width: 400px;
text-align: center;
padding: 150px 0;
border: 3px solid #FFD0D0;
border-radius: 20px;
/* box-shadow: 2px 3px 10px 0px; */
box-shadow: 0px 0px 15px 0px;
transition-duration: 0.2s;
cursor: pointer;
font-size: 25px;
background-color: white;
}

.arbite:hover{
box-shadow: none;
background-color: #FF9EAA;
/* border: 3px solid #FF9EAA; */
font-size: 22px;
padding: 160px 0;
transform: scale(0.95);
border: none;
}

.boss{
height: 465px;
width: 400px;
text-align: center;
padding: 150px 0;
border: 3px solid #4B70F5;
border-radius: 20px;
box-shadow: 2px 3px 10px 0px;
transition-duration: 0.2s;
cursor: pointer;
font-size: 25px;
background-color: white;
}


.boss:hover{
box-shadow: none;
background-color: #402E7A;
font-size: 22px;
padding: 160px 0;
transform: scale(0.95);
border: none;

}