@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&display=swap');

/* div{border: 1px solid black;} */

*{box-sizing: border-box;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.content{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-box{
    border: 2px solid #059212;
    border-radius: 20px;
    height: 700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;   
    box-shadow: 2px 3px 5px 0px; 
}

fieldset{
    border: none;
}

input{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border: 3px solid #059212;
    outline: none;
    padding: 0 15px;
}

select{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 3px solid #059212;
    font-size: 18px;
    text-align: center;
    outline: none;
}


#find-com{
    margin: auto;
    width: 200px;
    height: 70px;
    margin-top: 40px;
    background-color: white;
    /* background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);  */
    border-radius: 20px;
    background-color: #059212;
    border: 2px solid #059212;
    box-shadow: 2px 3px 5px 0px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 20px;
    /* background-color:red; */
}

#find-com:hover{
    /* background-image: linear-gradient(to top, #bea097 0%, #c4a0c4 100%);  */
    /* background-image: linear-gradient(to top, #ffd1ff 0%, #fad0c4 100%);  */
    box-shadow: none;
    background-color: #005809;
    border: none;
    }
