
/* 스케일 */
.trans {
    transform: scale(1.1);
    transition-duration: 1s;
    box-shadow: none;
}

.transRemove {
    transform: scale(1);
    transition-duration: 1s;
}


/* 보임*숨김 */
.block {
    display: block;
}

.none {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.replyNestedDisplay {
    display: flex;
    justify-content: end;
    align-items: flex-start;

}



/* 회전 */
.arrow{
 transition-duration: 1s;
}
.rotate90{
 transform: rotate(1170deg);
 color:rgba(255, 255, 255, 1);
 transition-duration: 1s;

 border-radius: 100%;

}
.rotate0{
 transform: rotate(0deg);
 transition-duration: 1.5s;
 font-size: 80px;

 filter: drop-shadow(0 0 3px white);
}

/* 좋아요UP */
.likeUp{
    background-color: blue;
    /* transform: scale(2); */
}